<div class="container">
  <figure class="text-center">
    <blockquote class="blockquote">
      <h1>Agregar Eventos</h1>
    </blockquote>
  </figure>
    <div class="row" >
      <div class="col-6">
        <mat-card flex flex-gt-xs="30">
          <figure class="text-center">
            <h2>Información de la Publicación</h2>
          </figure>
          <mat-card-content>
            <form>
              <div class="mb-3">
                <label for="titlePost" class="form-label">Título</label>
                <input type="text" class="form-control" id="titlePost" placeholder="Agregue el título de la publicación">
              </div>
              <div class="mb-3">
                <label for="subtitlePost" class="form-label">Subtítulo</label>
                <input type="text" class="form-control" id="subtitlePost" placeholder="Agregue el subtítulo de la publicación">
              </div>
              <div class="mb-3">
                <label for="descriptionPost" class="form-label">Descripción</label>
                <textarea class="form-control" id="descriptionPost" rows="5" placeholder="Agregue la descripción de la publicación"></textarea>
              </div>
              <div class="mb-3">
                <label for="imagesPost" class="form-label">Subir Imágenes</label>
                <input class="form-control" type="file" id="imagesPost" multiple>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Agregar Público Destino
                </button>
              </div>

              <div class="mb-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Presencial" [(ngModel)]="selectedModality">
                  <label class="form-check-label" for="inlineRadio1">Presencial</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Virtual" [(ngModel)]="selectedModality">
                  <label class="form-check-label" for="inlineRadio2">Virtual</label>
                </div>
              </div>
              <div class="mb-3" *ngIf="selectedModality === 'Presencial'">
                <label for="location" class="form-label">Agregar Ubicación</label>
                <input type="text" class="form-control" id="location" placeholder="Agregue la ubicación del evento">
              </div>
              <div class="mb-3" *ngIf="selectedModality === 'Virtual'">
                <label for="location" class="form-label">Agregar Link del Evento</label>
                <input type="text" class="form-control" id="location" placeholder="Agregue el link del evento">
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-success" type="button">Agregar Publicación</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card flex >
          <figure class="text-center">
            <h2>Vista Previa</h2>
          </figure>
          <mat-card-content>
              <p>Some content</p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  <div class="modal modal-xl fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="staticBackdropLabel">Público Destino</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <h4>Añadir Categorias</h4>
              <div class="row">
                <div class="col-6">
                  <div class="form-check" *ngFor="let or of category; let i=index">
                    <input class="form-check-input" type="checkbox" value="" >
                    <label class="form-check-label">
                      {{or.nombre_interes}}
                    </label>
                  </div>
                  <!--
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="art">
                    <label class="form-check-label" for="art">
                      Arte
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sport">
                    <label class="form-check-label" for="sport">
                      Deporte
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="education">
                    <label class="form-check-label" for="education">
                      Educación
                    </label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="courses">
                    <label class="form-check-label" for="courses">
                      Cursos
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="humanisticFormation">
                    <label class="form-check-label" for="humanisticFormation">
                      Formación Humanística
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="other">
                    <label class="form-check-label" for="other">
                      Otro
                    </label>
                  </div>
                  -->
                </div>
              </div>
              <h4>Categorías más utilizadas</h4>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                    <label class="form-check-label" for="firstCheckbox">Categoría 1</label>
                  </li>
                  <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                    <label class="form-check-label" for="secondCheckbox">Categoría 2</label>
                  </li>
                  <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Categoría 3</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <h4>Alcance</h4>
              <div class="row">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="scope1" value="Edad" [(ngModel)]="selectedScope">
                  <label class="form-check-label" for="scope1">Edad</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="scope2" value="Público" [(ngModel)]="selectedScope">
                  <label class="form-check-label" for="scope2">Público</label>
                </div>
              </div>
              <div class="row">
                <div class="col-6" *ngIf="selectedScope === 'Edad'">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="age1">
                    <label class="form-check-label" for="age1">
                      16 - 30
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="age2">
                    <label class="form-check-label" for="age2">
                      30 - 60
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="age3">
                    <label class="form-check-label" for="age3">
                      60 - 99
                    </label>
                  </div>
                </div>
                <div class="col-6" *ngIf="selectedScope === 'Público'">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="student">
                    <label class="form-check-label" for="student">
                      Estudiantes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="teacher">
                    <label class="form-check-label" for="teacher">
                      Docente
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="thirdAge">
                    <label class="form-check-label" for="thirdAge">
                      Tercera Edad
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="administrative">
                    <label class="form-check-label" for="administrative">
                      Administrativo
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</div>
