.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: white;
}

.controls {
  margin-top: 20px;
  text-align: center;
}

.controls button {
  margin: 0 10px;
}
nav {
  background-color: #004070;
  font-family: Arial, sans-serif;
  height: 60px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #c3e3ff;
}
