.img-logo{
    width: 100%;
    height: 540px;
    margin-top: -10px;
    margin-left: -10px;
}


.nav-right{
    background-color:#004070;
    width: 100%;
    height: 50px;   
}

.nav-right .nav-item{
    margin-right: 10px;
    color:aliceblue;
    

}