<!--

<div class="slider">
  <div class="slider-container">
    <img [src]="images[currentSlide]" alt="Imagen del carrusel">

  <div class="slider-indicators">
    <div class="indicator-container">
      <span *ngFor="let image of images; let i=index"
            [ngClass]="{'active': i === currentSlide}"
            (click)="goToSlide(i)"></span>

    </div>
</div>
  </div>


  <div class="slider-controls">
    <button (click)="prevSlide()">Anterior</button>
    <button (click)="nextSlide()">Siguiente</button>
  </div>
</div>
 -->


 <div class="slider">
  <div class="slider-container">
    <img [src]="images[currentSlide]" alt="Imagen del carrusel">
  </div> <!-- cierra slider-container -->

  <div class="slider-indicators">
    <div class="indicator-container">
      <span *ngFor="let image of images; let i=index"
            [ngClass]="{'active': i === currentSlide}"
            (click)="goToSlide(i)"></span>
    </div>
  </div>

  <!-- <div class="slider-controls">
    <button (click)="prevSlide()">Anterior</button>
    <button (click)="nextSlide()">Siguiente</button>
  </div> -->
</div>



<mat-toolbar class="nav" color="primary">
  <mat-toolbar-row>
    <button class="btn-inicio" mat-button>Inicio</button>
    <button class="btn-item" mat-button routerLink="/panel" >Panel</button>
    <button class="btn-item" mat-button>Quienes Somos</button>
    <button class="btn-item" mat-button>Blog</button>
    <button class="btn-item" mat-button>Contacto</button>
    <button class="btn-item" mat-button [matMenuTriggerFor]="menu">Formularios</button>
    <mat-menu  #menu="matMenu">
      <button mat-menu-item routerLink="/add-events"> Eventos </button>
      <button mat-menu-item routerLink="/add-posts"> Publicaciones </button>
    </mat-menu>
    <span class="spacer"></span>
    <button class="btn-item" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
