<!-- <ngb-carousel #carousel [showNavigationArrows]="false" [interval]="0" [keyboard]="true">
  <ng-template ngbSlide *ngFor="let image of images">
    <img src="{{ image.path }}" alt="Imagen">
    <div class="carousel-caption">
      <h3>{{ image.description }}</h3>
    </div>
  </ng-template>
</ngb-carousel> -->

<div class="controls">
  <!-- <button (click)="carousel.prev()" class="btn btn-primary">Anterior</button>
  <button (click)="carousel.next()" class="btn btn-primary">Siguiente</button> -->
</div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>Inicio</button>
    <button mat-button routerLink="/panel">Panel</button>
    <button mat-button>Quienes Somos</button>
    <button mat-button>Blog</button>
    <button mat-button>Contacto</button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
