*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/*slider rcontenedor de imagenes mas indicadores*/
.slider {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

/* contenedir de imagenes*/
.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;


}
/* imagenes del slider*/
.slider-container img {
  width: 100%;
  height: 95%;
  border-radius:2%;
  object-fit: cover;
}


.slider-indicators {
  position: absolute;
  bottom: 8px;

  left: 50%;
  transform: translateX(-50%);
  width: 100%;

}

.indicator-container {
  display: flex;
  justify-content: center;
}

.indicator-container span {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #0a0a0a;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator-container span.active {
  background-color: #ffcc00;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-controls button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.slider-controls button:hover {
  background-color: rgba(20, 184, 170, 0.8);
}

.nav{

  background-color: #004070;
  height: 80px;
  width: 100%;


  left: 0;
  z-index: 100;
  transition: all 0.5s ease;
}

.nav.hide {
  transform: translateY(-100%);
}
.nav .btn-inicio{
  color: #ffcc00;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.nav .btn-inicio:hover{
  background-color: white;
  color: #004070;
}
.nav .btn-item{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s ease;

}

.nav .btn-item:hover{
  background-color: #ffcc00;
  color: #004070;
}
