<mat-dialog-content>
  <button mat-icon-button style="float: right;" (click)="close()" >
    <mat-icon>close</mat-icon>
  </button>
  <header>
   <h1>Petición</h1>
  </header>
  <p><mat-form-field>
    <input matInput placeholder="Titulo">
    <mat-icon matSuffix>title</mat-icon>
  </mat-form-field></p>
  <p><mat-form-field>
    <input matInput placeholder="Descripción">
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field></p>
  <p><mat-form-field>
    <input matInput placeholder="Fecha Evento">
    <mat-icon matSuffix>event</mat-icon>
  </mat-form-field></p>
  
</mat-dialog-content>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Rechazar</button>
  <button type="button" class="btn btn-success">Aceptar</button>
</div>



