<div class="bg-blue-200">
  <!-- <button type="button" class="btn-close" aria-label="Close" style="float: right;" (click)="close()" ></button> -->
  <h1 class="text-x1">Vista Previa de la publicacion</h1>
    <p>ES ES UNA PRUEBA DEL CAMBIO DE COMPONENT </p>



<div class="panel">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" class="form-horizontal">

      <div class="row">
        <label> Datos del Docente que esta a Cargo</label>

        <div class="form-group col-6">
          <label for="title">Nombres</label>
          <input type="text" id="nameInChargeId" name="nameInCharge" [(ngModel)]="nameInCharge" required class="form-control">
        </div>

        <div class="form-group col">
          <label for="title">Apellido Paterno</label>
          <input type="text" id="paternalSurnameId" name="paternalSurname" [(ngModel)]="paternalSurname" required class="form-control">
        </div>

        <div class="form-group col">
          <label for="title">Apellido Materno</label>
          <input type="text" id="maternalSurnameId" name="maternalSurname" [(ngModel)]="maternalSurname" required class="form-control">
        </div>

      </div>


      <div class="row">
        <label> Datos del Docente que esta a Cargo</label>

        <div class="form-group col">
          <label for="title">Carrera</label>
          <input type="text" id="nameInChargeId" name="nameInCharge" [(ngModel)]="nameInCharge" required class="form-control">
        </div>

        <div class="form-group col">
          <label for="title">Departamento</label>
          <input type="text" id="paternalSurnameId" name="paternalSurname" [(ngModel)]="paternalSurname" required class="form-control">
        </div>

        <div class="form-group col">
          <label for="title">Sede</label>
          <input type="text" id="maternalSurnameId" name="maternalSurname" [(ngModel)]="maternalSurname" required class="form-control">
        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">
          <label for="photo">Photo:</label>
          <input type="file" id="photo" name="photo" [(ngModel)]="photo" required class="form-control-file">
        </div>
        <div class="form-group col-md-4">
          <label for="location">Fecha de Publicaion</label>
          <input type="date" id="location" name="location" [(ngModel)]="location" required class="form-control">
        </div>
        <div class="form-group col-md-4">
          <label for="date">Fecha del evento</label>
          <input type="date" id="date" name="date" [(ngModel)]="date" required class="form-control">
        </div>

       </div>



      <div class="row">

        <div class="form-group col-md-4">
          <label for="title">Titulo de la publicacion</label>
          <input type="text" id="titleEventId" name="titleEvent" [(ngModel)]="titleEvent" required class="form-control">
        </div>

        <div class="form-group col-md-4">
          <label for="title">Subtitulo</label>
          <input type="text" id="titleEventId" name="titleEvent" [(ngModel)]="titleEvent" required class="form-control">
        </div>


        <div class="form-group col-md-4">
          <label for="description">Descripcion</label>
          <input type="text" id="descriptionEventId" name="descriptionEventId" [(ngModel)]="descriptionEvent" required class="form-control">
        </div>

      </div>
  </form>


</div>


<div class="panel1">

  <h1 class="title-viewpost">VISTA PREVIA DE LA APLICACION PARA EL PUBLICO</h1>


  <section class="post">

    <div class="post__header">
      <div class="post__header__avatar">
        <h1 class="postTitle">Titulo de la publicacion</h1>
        <h2 class="postSubtitle">Subtitulo</h2>
        <img class="postImage" src="https://scontent.flpb2-2.fna.fbcdn.net/v/t1.6435-9/127719094_3832766390077461_598558803227660376_n.png?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=MRiy7YCLZssAX-CwE77&_nc_ht=scontent.flpb2-2.fna&oh=00_AfCgmgLpjNK_1Zk8fyUvZETIzfu_fIu7b7Jd4gNCO2uBlQ&oe=645AB2F6" alt="avatar">

        <p class="postDescripction">
          La Universidad Católica de Bolivia se complace en presentar su evento de danza de
          flamenco, una noche llena de pasión y energía que celebrará la belleza y el ritmo
          de este estilo de baile tradicional español.
          En este evento, los estudiantes de danza de la universidad se unirán a destacados
          bailarines de flamenco para presentar una variedad de piezas coreográficas emocionantes
          y llenas de movimiento. Con una mezcla de movimientos vigorosos y elegantes, la danza
          de flamenco cautivará al público y lo llevará en un viaje emocionante a través de la
          cultura y la historia españolas.
          El espectáculo contará con música en vivo, con guitarras españolas y percusión que
          complementarán la danza con su ritmo y melodía. El vestuario tradicional y los zapatos
          de flamenco darán vida a cada baile y añadirán un toque auténtico a la experiencia.
          Este evento de danza de flamenco es una oportunidad única para que la comunidad de la
          Universidad Católica de Bolivia experimente la belleza de este estilo de baile
          tradicional y celebre la rica cultura española. Únase a nosotros para una noche
          inolvidable de danza, música y emoción. ¡No se lo pierda!
        </p>
      </div>
      <div class="post__header__info">

      </div>
    </div>

<!-- proximamente a implementar  -->


    <!-- <div class="post__footer">
      <div class="post__footer__actions">
        <button class="post__footer__actions__btn">Compartir</button>
        <button class="post__footer__actions__btn">Me gusta</button>
      </div>
    </div> -->

  </section>

</div>






  <button type="button" class="btn btn-success" > Aceptar</button>
  <button type="button" class="btn btn-danger">Rechazar</button>
  <button type="button" class="btn btn-warning">Solicitar Modificación</button>
</div>



