

<div class="container">
  <figure class="text-center">
    <blockquote class="blockquote">
      <h1>Agregar Publicaciones</h1>
    </blockquote>
  </figure>
    <div class="row" >
      <div class="col-6">
        <mat-card flex flex-gt-xs="30">
          <figure class="text-center">
            <h2>Información de la Publicación</h2>
          </figure>
          <mat-card-content>
            <form>
              <div class="mb-3">
                <label for="titlePost" class="form-label">Título</label>
                <input type="text" class="form-control" id="titlePost" placeholder="Agregue el título de la publicación">
              </div>
              <div class="mb-3">
                <label for="subtitlePost" class="form-label">Subtítulo</label>
                <input type="text" class="form-control" id="subtitlePost" placeholder="Agregue el subtítulo de la publicación">
              </div>
              <div class="mb-3">
                <label for="descriptionPost" class="form-label">Descripción</label>
                <textarea class="form-control" id="descriptionPost" rows="4" placeholder="Agregue la descripción de la publicación"></textarea>
              </div>
              <div class="mb-3">
                <label for="imagesPost" class="form-label">Subir Imágenes</label>
                <input class="form-control" type="file" id="imagesPost" multiple>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Agregar Público Destino
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card flex >
          <figure class="text-center">
            <h2>Vista Previa</h2>
          </figure>
          <mat-card-content>
              <p>Some content</p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>

</div>
