.google-login-btn {
    background-color: rgb(19, 45, 85);
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    max-width: fit-content;
  }
  
  .google-login-btn:hover {
    background-color: rgb(252, 211, 30);
  }
  