<div class="panel">
    <h2>Solicitudes</h2>
    <table>
      <thead>
        <tr>
          <th>Número</th>
          <th>Nombre</th>
          <th>Asunto</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes" [ngClass]="solicitud.referencia">
          <td>{{ solicitud.numero }}</td>
          <td>{{ solicitud.nombre }}</td>
          <td>{{ solicitud.asunto }}</td>
          <td>{{ obtenerFecha(solicitud.fecha) }}</td>
          <td>{{ solicitud.hora }}</td>
          <td>

            <button class="btn-view-Detail" (click)="verDetalle(solicitud,  'Ver Detalle ')">Ver Detalle</button>




            </td>
          </tr>
        </tbody>
      </table>
  </div>
