<div class="panel">
    <h2 class="title-panel" >Solicitudes</h2>
    <table class="table">
      <thead>
        <tr class="tr-colum-indicadores">
          <th class="th-ind-num" >Número</th>
          <th class="th-ind">Nombre</th>
          <th class="th-ind">Asunto</th>
          <th class="th-ind">Fecha</th>
          <th class="th-ind">Hora</th>
          <th class="th-ind">Detalle</th>
          <th class="th-ind">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-solicitudes" *ngFor="let solicitud of solicitudes" [ngClass]="solicitud.referencia">
          <td class="tr-cont-num">{{ solicitud.numero }}</td>
          <td class="tr-cont">{{ solicitud.nombre }}</td>
          <td class="tr-cont">{{ solicitud.asunto }}</td>
          <td class="tr-cont">{{ obtenerFecha(solicitud.fecha) }}</td>
          <td class="tr-cont">{{ solicitud.hora }}</td>
          <td><button class="btn-view-Detail" (click)="openPopup()">Ver Detalle</button></td>
          <td class="tr-const-estados">{{solicitud.estados}}</td>
          </tr>
        </tbody>
      </table>



  </div>
